{% extends "layout.html" %}

{% block content %}

<h2 style="color:white">{{ title }}</h2>

<ul style="font-size:24px; font-family:Lucida Console; background-color:floralwhite">
    <li><p>Name: Joshua Weg</p></li>
    <li><p>E-mail: joshua@analystrix.com</p></li>
    <li><p>Phone: (818) 461-2016</p></li>
    <li><p>Github: <a href="https://www/github.com/joshuaweg">https://www.github.com/joshuaweg</a></p></li>
    <li><p>LinkedIn: <a href="https://www.linkedin.com/in/joshua-aaron-weg-b26b5291/">https://www.linkedin.com/in/joshua-aaron-weg-b26b5291/</a></p></li>
</ul>



{% endblock %}
